@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  width: 100%;
}
body {
  @apply bg-custom-radial; /* @apply permet d'appliquer des classes tailwindcss */
}

/* Pour les navigateurs basés sur WebKit (Chrome, Safari, etc.) 
Pour enlever les flèches dans les inputs number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Pour faire tourner une image sur elle-même à l'infini */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hover\:animate-spin:hover {
  animation: spin 1s linear infinite;
}
